# Directory for storing working files
CRAWLER_DATADIR = "/var/crawler/data"

# Number of days for activity (vitality index) calculation
ACTIVITY_DAYS = 60

# The base URL of the API used for loading Publishers and saving crawled
# software.
# (default: https://api.developers.italia.it/v1)
API_BASEURL = "https://api.developers.italia.it/v1"

# The authentication token used to authenticate to the API.
# See https://github.com/italia/developers-italia-api for details.
API_BEARER_TOKEN = "v2.local.xxxx"
