- host: "bitbucket.org"
  basic-auth:
    - ""

- host: "github.com"
  use-token-for:
    - "github.com"
    - "api.github.com"
    - "raw.githubusercontent.com"
  basic-auth:
    - "YOUR_GITHUB_USER:YOUR_GITHUB_TOKEN"
