elastic:
  hash: <hash of the elastic password>
  roles:
    - admin

kibana:
  hash: <hash of the elastic kibana>
  roles:
    - kibana_user

frontend:
  hash: <hash of the elastic frontend>
  roles:
    - search
