<?php
// connection
$host = 'elasticsearch';
$post = '9200';
$schema = 'http';
$user = 'elastic';
$password= 'elastic';
$index = 'publiccode_20180614';
$type = 'software';

$aliases = [
  'publiccode' => [
    'publiccodes',
    'jekyll',
    'administrations',
  ]
];

$indexes = [
  'jekyll' => 'mappings/post.json',
  'publiccodes' => 'mappings/software_0.1.json',
  'administrations' => 'mappings/administrations.json',
];
